{% extends "layout.html" %}

{% block body %}
    
    <table class="table">
        <thead>
            <tr>
            <th></th>
            <th>Name</th>
            <th class="d-none d-md-block">Job Title</th>
            <th>Company</th>
            <th class="d-none d-md-block">Restrict</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <img class="rounded-circle border border-secondary article-img" src="{{url_for('static', filename='profile_photos/' + user.imageFile)}}" alt="user photo">
                    </td>
                    <td><h2>{{user.username}}</h2></td>
                    <td class="d-none d-md-block">{{user.jobTitle}}</td>
                    <td>{{user.company}}</td>
                    <td class="d-none d-md-block">
                        <form action="" method="Post">
                            <input type="hidden" name="user_id" value="{{user.id}}">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}